.portada{
  width: 100%;
  height: 100vh;
  background: #36D1DC73;  
  background: -webkit-linear-gradient(to right, #5B86E573, #36D1DC73), url(../assets/img/portada6.jpg);    
  background: linear-gradient(to right, #5B86E573, #36D1DC73), url(../assets/img/portada6.jpg);  
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}
.logo{
  padding-top: 2rem;
  margin-bottom: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-shadow: 0px 10px 8px -10px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 10px 8px -10px rgba(0,0,0,0.9);
  box-shadow: 0px 10px 8px -10px rgba(0,0,0,0.9);
}
.titulo{
  color: #ffffff;
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 0px 2px 1px rgba(0,0,0,0.6);
}

@media(max-width: 768px){
  .portada{
    background-position: center center;
  }
}